@media (min-width: 279px) and (max-width: 319px){
.navbar-nav{
		 margin: 25px 0px 0px;
}



.header-section .navbar-light .navbar-nav .nav-link:hover, .header-section .navbar-light .navbar-nav .nav-link:focus{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

.header-section .navbar-light .navbar-nav .nav-link.active{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

.banner{
	padding: 20px 0px;
}

.banner .banner-inner h5{
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.banner .banner-inner h1{
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
}
.banner .banner-inner p{
	font-size: 9px;
	line-height: 19px;
}

.button-groups{
	padding: 10px 0px 0px;
}
.button-groups .btn-primary{
	padding: 7px 15px;
	font-size: 10px;
	margin: 0px 8px 0px 0px;
}

.button-groups .btn-info{
	padding: 7px 15px;
	font-size: 10px;
}
}



@media (min-width: 320) and (max-width: 480){
	.navbar-nav{
		 margin: 25px 0px 0px;
	}

	.header-section .navbar-light .navbar-nav .nav-link:hover, .header-section .navbar-light .navbar-nav .nav-link:focus{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

.header-section .navbar-light .navbar-nav .nav-link.active{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}



.banner{
	padding: 20px 0px;
}

.banner .banner-inner h5{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}

.banner .banner-inner h1{
	font-size: 30px;
	line-height: 40px;
	font-weight: 600;
}
.banner .banner-inner p{
	font-size: 12px;
	line-height: 22px;
}

.button-groups{
	padding: 15px 0px 0px;
}
.button-groups .btn-primary{
	padding: 9px 18px;
	font-size: 12px;
	margin: 0px 10px 0px 0px;
}

.button-groups .btn-info{
	padding: 9px 18px;
	font-size: 12px;
}
	
}
@media (min-width: 481px) and (max-width: 767px){
	.navbar-nav{
		 margin: 25px 0px 0px;
	}


.header-section .navbar-light .navbar-nav .nav-link:hover, .header-section .navbar-light .navbar-nav .nav-link:focus{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

.header-section .navbar-light .navbar-nav .nav-link.active{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

	
}
@media (min-width: 768px) and (max-width: 1024px){
	.navbar-nav{
		 margin: 25px 0px 0px;
	}



.header-section .navbar-light .navbar-nav .nav-link:hover, .header-section .navbar-light .navbar-nav .nav-link:focus{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

.header-section .navbar-light .navbar-nav .nav-link.active{
	background: url("../images/line.png") left bottom no-repeat;
	background-size: auto;
}

}